@charset 'utf-8';
@import '_reset';
@import '_fonts';
@import '_mixin';
@import '_size';

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8ff;
}
.inner {
    position: relative;
    width: 1200px;
    padding: 20px 30px;
    border-radius: 20px;
}
.tab {
    &_btns {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 150px;
        li {
            margin: 10px 5px;
        }
        .btn {
            display: block;
            padding: 10px 30px;
            border: 1px solid #999;
            border-radius: 50px;
            color: #111;
            text-align: center;
            background-color: #fff;
            &.active {
                border: #eee;
                color: #fff;
                border: 1px solid #3d4aff;
                background-color: #3d4aff;
            }
        }
    }
    &_area {
        margin-top: 20px;
        li {
            display: none;
            &.active {
                display: block;
            }
        }
        &_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .text_box {
            h3 {
                font-size: 18px;
            }
            .text {
                margin-top: 25px;
                font-size: 15px;
                line-height: 25px;
                word-break: keep-all;
            }
        }
        .img_box {
            position: relative;
            img {
                margin-left: 20px;
            }
            .photo_zoom {
                display: block;
                position: absolute;
                right: -15px;
                bottom: -15px;
                img {
                    margin-left: 0;
                }
            }
        }
    }
}
.next, .prev {
    position: absolute;
    top: 10px;
    right: 50px;
    a {
        display: block;
        width: 50px;
        padding: 10px 0;
        border-radius: 0;
        border: 1px solid #999;
        background-color: #fff;
    }
}
.next {
    right: 0;
    a {
        border-left: 0;
        .arrow {
            background-position: -12px 0;
        }
    }
}
.arrow {
    display: block;
    width: 12px;
    height: 19px;
    margin: 0 auto;
    background: url('/images/btn_EDMS_func.png') no-repeat;
}
// 팝업
.popup {
    &#layer_popup {
        display: none;
    }
    &_back {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #111, $alpha: .1);
    }
    &_wrap {
        position: relative;
        width: 1200px;
        padding: 20px 25px;
        background-color: #fff;
    }
    &_close {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
    }
}