@charset 'utf-8';
@import '_reset';
@import '_fonts';
@import '_mixin';
@import '_size';

$main : #3d4aff;

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8ff;
}
.inner {
    position: relative;
    width: 1200px;
    border-radius: 20px;
}
.tab {
    &_header {
        display: flex;
        justify-content: space-between;
    }
    &_btns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 210px;
        li {
            margin: 10px 5px;
            &.active {
                .btn {
                    border: #eee;
                    color: #fff;
                    border: 1px solid $main;
                    background-color: $main;
                }
            }
            .btn {
                display: block;
                padding: 10px 20px;
                border: 1px solid #ccc;
                border-radius: 50px;
                color: #111;
                text-align: center;
                background-color: #fff;
                &:hover {
                    border-color: rgba($color: $main, $alpha: .7);
                }
            }
        }
        
    }
    &_area {
        margin-top: 30px;
        padding: 40px 50px 40px 30px;
        border-radius: 20px;
        background-color: #fff;
        li {
            display: none;
            &.active {
                display: block;
            }
        }
        &_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .text_box {
            h3 {
                font-size: 20px;
            }
            .text {
                margin-top: 25px;
                font-size: 16px;
                line-height: 25px;
                word-break: keep-all;
            }
        }
        .img_box {
            position: relative;
            img {
                margin-left: 20px;
            }
            .photo_zoom {
                display: block;
                position: absolute;
                right: -10px;
                bottom: -10px;
                img {
                    margin-left: 0;
                }
            }
        }
    }
}
.arrows {
    position: relative;
    .next, .prev {
        position: absolute;
        top: 10px;
        right: 55px;
        a {
            display: block;
            width: 40px;
            height: 40px;
            padding: 9px 0;
            border-radius: 50%;
            border: 1px solid #ccc;
            background-color: #fff;
            &:hover {
                border-color: #888;
            }
        }
    }
    .next {
        right: 0;
        .arrow {
            background-position: -12px 0;
        }
    }
    .arrow {
        display: block;
        width: 12px;
        height: 19px;
        margin: 0 auto;
        background: url('/images/btn_EDMS_func.png') no-repeat;
    }
}
// 팝업
.popup {
    &#layer_popup {
        display: none;
    }
    &_back {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #111, $alpha: .1);
    }
    &_wrap {
        position: relative;
        width: 1200px;
        padding: 20px 25px;
        background-color: #fff;
    }
    &_close {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
    }
}