@charset 'utf-8';
@import '_reset';
@import '_fonts';
@import '_mixin';
@import '_size';

$main : #3d4aff;

.wrap {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #eef;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-height: 700px;
    border-radius: 20px;
}
.tab_01 {
    .tab {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 10px;
        margin: 0 10px 20px;
        background-color: #fff;
    }
    a {
        display: block;
        padding: 20px 30px;
    }
    .active {
        a {
            font-weight: bold;
        }
    }
    .tab_style_0 {
        &1 {
            li {
                border-bottom: 1px solid #999;
                border-radius: 5px 5px 0 0;
                &.active {
                    border: 1px solid;
                    border-color: #999 #999 #fff;
                    background-color: #fff;
                }
                a {
                    margin-bottom: -1px;
                }
            }
        }
        &2 {
            .active {
                a {
                    color: $main;
                }
            }
            li {
                &:hover {
                    a {
                        color: rgba($color: $main, $alpha: .7);
                    }
                }
            }
        }
        &3 {
            li {
                &.active {
                    a {
                        position: relative;
                        color: $main;
                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 4px;
                            left: 0;
                            bottom: 0;
                            background-color: $main;
                        }
                    }
                }
            }
        }
        &4 {
            li {
                &.active {
                    a {
                        position: relative;
                        color: $main;
                        // background: linear-gradient(#cfd2ff, #fff);
                        background: radial-gradient(#cfd2ff, #fff);;
                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 4px;
                            left: 0;
                            top: 0;
                            background-color: $main;
                        }
                    }
                }
            }
        }
        &5 {
            border-radius: 50px;
            .active {
                border-radius: 50px;
                background-color: $main;
                a {
                    color: #fff;
                }
            }
        }
        &6 {
            border-radius: 50px;
            .active {
                &:first-child {
                    border-radius: 50px 0 0 50px;
                }
                &:last-child {
                    border-radius: 0 50px 50px 0;
                }
                background-color: $main;
                a {
                    color: #fff;
                }
            }
        }
        &7 {
            border-radius: 10px;
            .active {
                border-radius: 10px;
                background-color: rgba($color: $main, $alpha: .2);
                a {
                    position: relative;
                    color: $main;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 40%;
                        height: 4px;
                        bottom: 5px;
                        left: 50%;
                        border-radius: 50px;
                        transform: translateX(-50%);
                        background-color: $main;
                    }
                }
            }
        }
        &8 {
            .active {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    bottom: -10px;
                    left: 50%;
                    border-radius: 5px 0;
                    transform: translateX(-50%) rotate(45deg);
                    background-color: #eef;
                }
                a {
                    color: $main;
                }
            }
        }
        &9 {
            .active {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    bottom: -10px;
                    left: 50%;
                    border-radius: 5px 0;
                    transform: translateX(-50%) rotate(45deg);
                    background-color: #fff;
                }
                a {
                    color: $main;
                }
            }
        }
    }
}
.tab_02 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .tab {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 120px;
        padding: 0 10px;
        margin: 0 10px 20px;
        background-color: #fff;
    }
    a {
        display: block;
        padding: 20px 30px;
    }
    .active {
        a {
            font-weight: bold;
        }
    }
    .tab_style_0 {
        &1 {
            .active {
                background-color: $main;
                a {
                    color: #fff;
                }
            }
        }
    }
}