@charset 'utf-8';
@import '_reset';
@import '_fonts';
@import '_mixin';
@import '_size';

$main : #3d4aff;

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eef;
}
.inner {
    position: relative;
    width: 1200px;
    border-radius: 20px;
}
.tab {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    background-color: #fff;
    a {
        display: block;
        padding: 20px 30px;
    }
}
.tab_style_0 {
    &1 {
        li {
            border-bottom: 1px solid #999;
            border-radius: 5px 5px 0 0;
            &.active {
                border: 1px solid;
                border-color: #999 #999 #fff;
                background-color: #fff;
            }
            a {
                margin-bottom: -1px;
            }
        }
    }
    &2 {
        .active {
            a {
                color: $main;
                font-weight: bold;
            }
        }
        li {
            &:hover {
                a {
                    color: rgba($color: $main, $alpha: .7);
                }
            }
        }
    }
    &3 {
        li {
            &.active {
                a {
                    position: relative;
                    color: $main;
                    font-weight: bold;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 4px;
                        left: 0;
                        bottom: 0;
                        background-color: $main;
                    }
                }
            }
        }
    }
    &4 {
        li {
            &.active {
                a {
                    position: relative;
                    color: $main;
                    font-weight: bold;
                    background: linear-gradient(#cfd2ff, #fff);
                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 4px;
                        left: 0;
                        top: 0;
                        background-color: $main;
                    }
                }
            }
        }
    }
    &5 {
        border-radius: 50px;
        .active {
            border-radius: 50px;
            background-color: $main;
            a {
                color: #fff;
            }
        }
    }
    &6 {
        border-radius: 50px;
        .active {
            &:first-child {
                border-radius: 50px 0 0 50px;
            }
            &:last-child {
                border-radius: 0 50px 50px 0;
            }
            background-color: $main;
            a {
                color: #fff;
            }
        }
    }
}